LOCAL_URL=http://localhost:4321

# SNS Link
PUBLIC_GITHUB_LINK=
PUBLIC_DISCORD_LINK=
PUBLIC_X_LINK=
PUBLIC_NOTE_LINK=

# Mail
MAIL_ADDRESS=

# Copyright this year
PUBLIC_COPYRIGHT_THIS_YEAR=2026

# GitHub Token
GITHUB_TOKEN=
