LOCAL_URL=http://localhost:4321

# SNS Link
PUBLIC_GITHUB_LINK=
PUBLIC_DISCORD_LINK=
PUBLIC_X_LINK=
PUBLIC_NOTE_LINK=

# Mail
MAIL_ADDRESS=

# microcCMS
MICROCMS_SERVICE_DOMAIN=
MICROCMS_API_KEY=
MICROCMS_MANAGEMENT_API_KEY=
