@import "tailwindcss";
@import "dither-plugin";
@import "simple-icons-font/font/simple-icons.min.css";

:root {
  --background: rgb(246, 246, 245);
  --foreground: rgb(50, 50, 47);
  --primary: rgb(50, 50, 47);
  --primary-foreground: rgb(246, 246, 245);
  --secondary: rgb(236, 236, 234);
  --secondary-foreground: rgb(50, 50, 47);
  --muted: rgb(236, 236, 234);
  --muted-foreground: rgb(155, 155, 150);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-serif: var(--font-zen-old-mincho);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
}
